html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/igl.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#intro1
{
height: 108%;
background: url("../img/igl.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lis
{
color: #f7f6f6; font-family: roboto; font-size: 17px;
}
#lis:active
{
background-color: #ffffff; outline:none ;
}
:visited
{
    background-color: #ffffff; outline:none ;
    }

#navi {
  min-height: 20px;
}
#sidenav-main {

   background-color:#111721; 
}
.body 
{
    background-color: #FDF9F1;
}
#badge-notify
{
    position: relative ;
    bottom :-5px;
    LEFT:-18px;
}
.dropdown-item.dropdown-notification:active, .dropdown-item.dropdown-notification.active {
 
  text-decoration: none;
  background-color: #f7f7f9;
}
.dropdown-notification-all {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: oblique;
 
  color: white;
}

.dropdown-notification-all:hover {
 
  color: white;
}

.notifications-container {
  max-height: 300px;
  overflow: auto;
}

.notification-dropdown-menu {
  padding-bottom: 0;
  min-width: 528px;
}


.notifications-body {
  display: inline-block;
}

.notificationTexte {
  text-align: left;
  margin: 0;
}
